<h1>All Photos</h1>

<a href="/photos/new">
  Add a new photo
</a>

  <div class="thumbnail">
    <img src="hi">

    <div class="caption">
      <a href="/photos/152" class="btn btn-default btn-block">
        Show Details
      </a>

      <a href="/photos/152/edit" class="btn btn-default btn-block">
        Edit
      </a>

      <a href="/delete_photo/152" class="btn btn-default btn-block">
        Delete
      </a>
    </div>
  </div>